* {
  padding: 0;
  margin: 0;
}

.App {
  width: 80%;
  font-family: sans-serif;
  text-align: center;
  padding: 1rem;
  margin: 3em auto 0;
  background-color: beige;
}
h1 {
  width: 200px;
  border-radius: 15px;
  font-size: 1.4em;
  margin: 0 auto 1rem;
  color: skyblue;
  background-color: antiquewhite;
  padding: 0.4rem 0;
}
